body {
    margin: 0;
    padding: 0;
}

/* .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    display: flex;
    flex: 1;
}

.router-view {
    flex: 1;
    padding: 20px;
}



.header {
    display: flex;
    align-items: center;
    background: #282c34;
    color: white;
    padding: 10px 20px;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.left-panel {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
}

.left-panel ul {
    list-style-type: none;
    padding: 0;
}

.left-panel li {
    margin: 10px 0;
} */